body{
    font-family: 'Montserrat', sans-serif;
}

.input{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.inputName{
    padding: 10px;
}
.inputDate{
    padding: 10px;
    width: 170px;
}
.inputText{
    padding: 10px;
    height: 200px;
    width: 170px;
}
.button{
    padding: 10px;
    background-color: black;
    color: white;

    margin-bottom: 10px;
}
.button:hover{
    padding: 10px;
    background-color: white;
    color: black;
}

.news-one{
    border: 1px solid rgb(186, 186, 186);
    border-radius: 1px;
    padding-left: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 1;

}
.news{
    width: 200px;
    margin: 0 auto;
}